<div class="min-h-screen bg-gray-100">
    <!-- Navigation Menu -->
    <div class="bg-white shadow">
        <nav class="flex justify-center p-4 space-x-8">
            <button class="py-2 px-4 font-semibold border-b-2 focus:outline-none" [ngClass]="{
            'text-blue-500 border-blue-500': selectedMenu === 'fountains',
            'text-gray-600 border-transparent': selectedMenu !== 'fountains'
          }" (click)="selectedMenu = 'fountains'">
                Fountain Management
            </button>
            <button class="py-2 px-4 font-semibold border-b-2 focus:outline-none" [ngClass]="{
            'text-blue-500 border-blue-500': selectedMenu === 'testers',
            'text-gray-600 border-transparent': selectedMenu !== 'testers'
          }" (click)="selectedMenu = 'testers'">
                Tester Management
            </button>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="lg:px-72 p-8">
        <app-fountainmanagement *ngIf="selectedMenu === 'fountains'"></app-fountainmanagement>
        <app-testermanagement *ngIf="selectedMenu === 'testers'"></app-testermanagement>
    </div>
</div>