<div class="p-4 bg-white shadow rounded-lg">
    <div class="mb-4">
      <h2 class="text-xl font-bold">As tuas fontes favoritas</h2>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2 border-b text-left">Nome da Fonte</th>
            <th class="px-4 py-2 border-b text-left">Estado Atual</th>
            <th class="px-4 py-2 border-b text-left">Risco Radão</th>
            <th class="px-4 py-2 border-b text-left"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fav of favorites" class="hover:bg-gray-50">
            <td class="px-4 py-2 border-b cursor-pointer" (click)="router.navigate(['/fountain', fav.id])">
              {{ fav.description }}
            </td>
            <td class="px-4 py-2 border-b">
              {{ fav.isDrinkable ? 'Potável' : 'Não potável' }}
            </td>
            <td class="px-4 py-2 border-b">
              {{ fav.susceptibilityIndex }}
            </td>
            <td class="px-4 py-2 border-b">
              <span class="cursor-pointer text-red-500" (click)="toggleFavorite(fav)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 18.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>GRAFICO DA EVOLUCAO DAS SUAS FONTES?!</div>
    </div>
  </div>
  