<div *ngIf="fountain" class="p-3 bg-white shadow rounded-lg lg:mx-72 ">
  <div class="flex flex-row items-center">
    <!-- Fountain Street View Image-->
    <div class="w-1/3">
      <app-fountain-street-view [lat]="fountain.lat" [lng]="fountain.lng"></app-fountain-street-view>
    </div>
    <!-- Fountain Information (Right) -->
    <div class="w-2/3 pl-3 ">
      <h2 class="text-base font-bold">
        {{ fountain.description || 'No description available' }}
      </h2>
      <p class="mt-1 text-xs font-semibold text-gray-700">
        {{ fountain.isDrinkable ? 'Potável' : 'Não Potável' }}
      </p>
      <p class="mt-1 text-xs text-gray-700">
        <span class="font-semibold">Índice de Suscetibilidade:</span>
        {{ fountain.susceptibilityIndex === 'Moderate' ? 'Moderado' :
        (fountain.susceptibilityIndex === 'Low' ? 'Baixo' : 'Alto') }}
      </p>
      <p class="mt-1 text-xs text-gray-600">
        <span class="font-semibold">Cidade:</span>
        {{ fountain.address || 'Desconhecida' }}
      </p>
      <p class="mt-1 text-xs text-gray-600">
        <span class="font-semibold">Lat:</span> {{ fountain.lat }},
        <span class="font-semibold">Long:</span> {{ fountain.lng }}
      </p>
    </div>

  </div>
  <!-- Water Analysis Section -->
  <div *ngIf="waterAnalysis?.length" class="mt-6 p-4 bg-gray-50 rounded-lg shadow">
    <h3 class="text-xl font-bold text-gray-800 mb-4">Últimas Análises</h3>
    <div class="grid grid-cols-1 gap-4">
      <div *ngFor="let analysis of waterAnalysis"
        class="p-4 bg-white rounded-lg shadow flex flex-col sm:flex-row justify-between items-center">
        <div class="mb-2 sm:mb-0">
          <p class="text-gray-700">
            <span class="font-semibold">Concentração de Radão: </span>
            {{ analysis.radonConcentration }}
          </p>
          <p class="text-gray-700">
            <span class="font-semibold">Data da Análise:</span>
            {{ analysis.date }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="waterAnalysis?.length" class="mt-6 p-4 bg-gray-50 rounded-lg shadow">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke" [title]="chartOptions.title"
      [tooltip]="chartOptions.tooltip">
    </apx-chart>
  </div>
  <!-- Display a message when no water analysis is available -->
  <div *ngIf="waterAnalysis && waterAnalysis.length === 0" class="mt-6 p-4 bg-gray-50 rounded-lg shadow">
    <p class="text-gray-700">No water analysis available.</p>
  </div>
</div>