<div class="min-h-screen bg-gray-100">
    <!-- Navigation Menu -->
    <div class="bg-white shadow">
      <nav class="flex justify-center p-4 space-x-8">
        <button 
          class="py-2 px-4 font-semibold border-b-2 focus:outline-none" 
          [ngClass]="{
            'text-blue-500 border-blue-500': selectedMenu === 'water-analysis',
            'text-gray-600 border-transparent': selectedMenu !== 'water-analysis'
          }" 
          (click)="setMenu('water-analysis')">
          Análises de Água
        </button>
        <!-- Outros botões do menu -->
      </nav>
    </div>
  
    <!-- Main Content -->
    <div class="p-8 lg:px-72">
      <!-- Water Analysis Section -->
      <div *ngIf="selectedMenu === 'water-analysis'" class="bg-white p-6 rounded shadow-md">
        <h2 class="text-2xl font-bold mb-4">Criar Análise de Água</h2>
        <form class="space-y-4">
          <input 
            type="number" 
            placeholder="Concentração de Radão" 
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" 
            [(ngModel)]="waterAnalysisData.radonConcentration" 
            name="radonConcentration"
            required
          />
          <!-- Outros campos do formulário -->
          <button type="submit" class="w-full bg-green-500 text-white py-2 rounded-md font-semibold">
            Enviar Análise de Água
          </button>
        </form>
      </div>
    </div>
  </div>